<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
    <link href='https://cdn.muicss.com/mui-0.10.3/css/mui.min.css' rel='stylesheet' type='text/css' />
    <script src='https://cdn.muicss.com/mui-0.10.3/js/mui.min.js'></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="mui-panel">
        <form action="chat" method="post">
            Name: <input name="name" required="true"/>
            Room: <input name="room"/>
            Password (optional): <input name="password"/>
            <button class="mui-btn mui-btn--small mui-btn--primary small" type="submit">Connect</button>
        </form>
    </div>
</body>
</html>